
/* SPLASH PAGE ANIMATION */

@-webkit-keyframes glitchimation {
  0% {
    transform: none;
  }
  2% {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  4%, 100% {
    -webkit-transform: none;
    transform: none;
  }
  6% {
    -webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
    clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
  }
  8% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  10% {
    -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
  }
  12% {
    -webkit-clip-path: none;
    clip-path: none;
    transform: none;
  }
  14% {
    transform: translate(10vw);
  }
  16% {
    transform: none;
  }
  18% {
    -webkit-clip-path: polygon(20% 10%, 40% 10%, 40% 100%, 20% 100%);
    clip-path: polygon(20% 10%, 40% 10%, 40% 100%, 20% 100%);
  }
  20% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  22% {
    -webkit-clip-path: polygon(0% 70%, 100% 70%, 100% 90%, 0% 90%);
    clip-path: polygon(0% 70%, 100% 70%, 100% 90%, 0% 90%);
  }
  24% {
    -webkit-clip-path: none;
    clip-path: none;
    -webkit-transform: none;
    transform: none;
  }
  26% {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  28% {
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    -webkit-transform: none;
    transform: none;
  }
  30% {
    -webkit-clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
    clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
  }
  32%, 60% {
    -webkit-clip-path: none;
    clip-path: none;
    transform: none;
  }
  62% {
    transform: translate(-10vw);
  }
  63% {
    transform: none;
  }
  64% {
    -webkit-clip-path: polygon(0% 90%, 100% 90%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 90%, 100% 90%, 100% 100%, 0% 100%);
    -webkit-transform: none;
    transform: none;
  }
  65% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  66% {
    -webkit-clip-path: polygon(0% 80%, 100% 80%, 100% 90%, 0% 90%);
    clip-path: polygon(0% 80%, 100% 80%, 100% 90%, 0% 90%);
  }
  67% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  68% {
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
  }
  70%, 90% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  92% {
    -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 40%, 0% 40%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 40%, 0% 40%);
  }
  94% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  96% {
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
  }
  98% {
    -webkit-clip-path: none;
    clip-path: none;
    transform: none;
  }
  99% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    transform: none;
  }
}

@keyframes glitchimation {
  0% {
    transform: none;
  }
  2% {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  4%, 100% {
    -webkit-transform: none;
    transform: none;
  }
  6% {
    -webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
    clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
  }
  8% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  10% {
    -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
  }
  12% {
    -webkit-clip-path: none;
    clip-path: none;
    transform: none;
  }
  14% {
    transform: translate(10vw);
  }
  16% {
    transform: none;
  }
  18% {
    -webkit-clip-path: polygon(20% 10%, 40% 10%, 40% 100%, 20% 100%);
    clip-path: polygon(20% 10%, 40% 10%, 40% 100%, 20% 100%);
  }
  20% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  22% {
    -webkit-clip-path: polygon(0% 70%, 100% 70%, 100% 90%, 0% 90%);
    clip-path: polygon(0% 70%, 100% 70%, 100% 90%, 0% 90%);
  }
  24% {
    -webkit-clip-path: none;
    clip-path: none;
    -webkit-transform: none;
    transform: none;
  }
  26% {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  28% {
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    -webkit-transform: none;
    transform: none;
  }
  30% {
    -webkit-clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
    clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
  }
  32%, 60% {
    -webkit-clip-path: none;
    clip-path: none;
    transform: none;
  }
  62% {
    transform: translate(-10vw);
  }
  63% {
    transform: none;
  }
  64% {
    -webkit-clip-path: polygon(0% 90%, 100% 90%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 90%, 100% 90%, 100% 100%, 0% 100%);
    -webkit-transform: none;
    transform: none;
  }
  65% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  66% {
    -webkit-clip-path: polygon(0% 80%, 100% 80%, 100% 90%, 0% 90%);
    clip-path: polygon(0% 80%, 100% 80%, 100% 90%, 0% 90%);
  }
  67% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  68% {
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
  }
  70%, 90% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  92% {
    -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 40%, 0% 40%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 40%, 0% 40%);
  }
  94% {
    -webkit-clip-path: none;
    clip-path: none;
  }
  96% {
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 70%, 0% 70%);
  }
  98% {
    -webkit-clip-path: none;
    clip-path: none;
    transform: none;
  }
  99% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    transform: none;
  }
}

.glitchbox {
  width: 40vw;
  height: auto;
  color: white;
  overflow: hidden;
  animation-name: glitchimation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  position: absolute;
}

.staticbox {
  width: 40vw;
  height: auto;
  color: white;
  overflow: hidden;
  position: absolute;
}



/* MAIN PAGE LINKS ANIMATION */

.glitchlink {
  height: auto;
  color: #E0E0E0;
  overflow: hidden;
  animation-name: glitchin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  font-size: 1.25em;
  border-bottom: 1px solid #E0E0E0;
}


@keyframes glitchin {
  0%, 2% {
    visibility: hidden;
  }
  3%, 5% {
    visibility: visible;
  }
  6%, 10% {
    visibility: hidden;
  }
  11%, 13% {
    visibility: visible;
  }
  14%, 16% {
    visibility: hidden;
  }
  17%, 19% {
    visibility: visible;
  }
  20%, 24% {
    visibility: hidden;
  }
  25%, 100% {
    visibility: visible;
  }
}

@-webkit-keyframes glitchin {
  0%, 2% {
    visibility: hidden;
  }
  3%, 5% {
    visibility: visible;
  }
  6%, 10% {
    visibility: hidden;
  }
  11%, 13% {
    visibility: visible;
  }
  14%, 16% {
    visibility: hidden;
  }
  17%, 19% {
    visibility: visible;
  }
  20%, 24% {
    visibility: hidden;
  }
  25%, 100% {
    visibility: visible;
  }
}

.fadelink {
  font-size:.75em;
  color: #E0E0E0;
  animation-name: fade;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}