body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.viewportwhole {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* The animation code */

@keyframes googlitch {
  1% {
    -webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
    clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
  }

  2% {
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
  }

  3% {
    -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
    transform: translate(20px);
  }

  4% {
    -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 70%, 0% 70%);
    clip-path: polygon(0% 60%, 100% 60%, 100% 70%, 0% 70%);
    transform: none;
  }

  5% {
    -webkit-clip-path: polygon(0% 40%, 100% 40%, 100% 50%, 0% 50%);
    clip-path: polygon(0% 40%, 100% 40%, 100% 50%, 0% 50%);
    transform: translate(-20px);

  }

  6% {
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 60%, 0% 60%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 60%, 0% 60%);
    transform: none;
  }

  7% {
    -webkit-clip-path: polygon(0% 70%, 100% 70%, 100% 80%, 0% 80%);
    clip-path: polygon(0% 70%, 100% 70%, 100% 80%, 0% 80%);
  }
  8%, 100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes googlitch {
  1% {
    -webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
    clip-path: polygon(0% 10%, 100% 10%, 100% 20%, 0% 20%);
  }
  2% {
    -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);
  }
  3% {
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%);
    transform: translate(20px);

  }
  4% {
    -webkit-clip-path: polygon(0% 40%, 100% 40%, 100% 50%, 0% 50%);
    clip-path: polygon(0% 40%, 100% 40%, 100% 50%, 0% 50%);
    transform: none;

  }
  5% {
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 60%, 0% 60%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 60%, 0% 60%);
    transform: translate(-20px);

  }
  6% {
    -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 70%, 0% 70%);
    clip-path: polygon(0% 60%, 100% 60%, 100% 70%, 0% 70%);
    transform: none;

  }
  7% {
    -webkit-clip-path: polygon(0% 70%, 100% 70%, 100% 80%, 0% 80%);
    clip-path: polygon(0% 70%, 100% 70%, 100% 80%, 0% 80%);
  }
  8%, 100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* The element to apply the animation to */

#glitchbox {
  width: 50vw;
  height: auto;
  position: absolute;
  animation-name: googlitch;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-delay: -1s;
  animation-iteration-count: infinite;
}